[submodule "Submodules/MKStoreKit"]
	path = Submodules/MKStoreKit
	url = git://github.com/MugunthKumar/MKStoreKit.git
[submodule "Submodules/ShareKit"]
	path = Submodules/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
[submodule "Submodules/testSubmodule"]
	path = Submodules/testSubmodule
	url = git@github.com:mitrenegade/testSubmodule.git
