[submodule "Submodules/MKStoreKit"]
	path = Submodules/MKStoreKit
	url = git://github.com/MugunthKumar/MKStoreKit.git
[submodule "Submodules/ShareKit"]
	path = Submodules/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
