<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon_57.png</string>
				<string>icon_114.png</string>
				<string>Default.png</string>
				<string>Default@2x.png</string>
				<string>Default.png</string>
				<string>Default@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>Neroh</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb244406082334236</string>
				<string>fb191699640937330</string>
				<string>fb183627925098468</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.6</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSEnvironment</key>
	<dict>
		<key>FACEBOOK_APP_ID</key>
		<string>191699640937330</string>
		<key>FACEBOOK_APP_ID_LITE</key>
		<string>244406082334236</string>
		<key>FACEBOOK_APP_ID_STIXX</key>
		<string>183627925098468</string>
		<key>ITUNES_APP_ID</key>
		<string>520841261</string>
		<key>ITUNES_APP_ID_LITE</key>
		<string>525733067</string>
		<key>PARSE_APP_ID</key>
		<string>BZpZEXeYgWUeu2Pg3nJSbcGIkoYkR5qxaAsK1ClT</string>
		<key>PARSE_APP_ID_DEV</key>
		<string>zPxo37QJ9mtc1PfxmN3ToxmPvYhljdKsRf13Dscv</string>
		<key>PARSE_CLIENT_ID</key>
		<string>GuFFolAFIpDNoe8If7Jm6ATYNPaJc2bdAvPLfBZx</string>
		<key>PARSE_CLIENT_ID_DEV</key>
		<string>2ot86krHvyCwvOzJsdXcZ8YYVckbC5V5cBr8MCjZ</string>
		<key>TWITTER_CONSUMER_KEY</key>
		<string>VwXbDvMflzcj6NSwo6NtA</string>
		<key>TWITTER_CONSUMER_SECRET</key>
		<string>sU8OFkq08sU9s4g6BKRVpnXgI9iqsfzWSlHYRTxyo</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow_iPad</string>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
